/***************************************************
Site Name: A Simple Static Site
Author: devLabs
Author URL: devla.bs

  TABLE OF CONTENT

      A. External Resources
      1. CSS Reset
	  2. Text
	  3. Structure
	  4. Navigation
	  5. Highlighted
	  6. Main Content
	  7. Footer
***************************************************/
/** External Resources
---------------------------------------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400italic,400,700);

/** CSS Reset
---------------------------------------------------------------------------------*/
/* 
   An example of a css reset 
   Source: http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** Text
---------------------------------------------------------------------------------*/
body{
	font-family: 'Open Sans', sans-serif;
}
h1{
	font-size: 2.5em;
}
h2{
	font-size: 2em;
}
h3{
	font-size: 1.5em;
}
h4{
	font-size: 1em;
}
h5{
	font-size: .90em
}
h6{
	font-size: .75em
}
a,a:active{
	color: #848484;
	text-decoration: none;
}
a:hover,a:visited{
	color: #f04500;
	text-decoration: none;
}
/** Structure
---------------------------------------------------------------------------------*/
#body-container{
	width: 100%;
	margin:0 auto;
	display: block;
}
#main-content{
	width: 960px;
	margin: 0 auto;
}
header{
	width: 920px;
	padding: 20px;
	margin: 0 auto
}
#highlighted{
	width: 100%;
}
#highlighted-content{
	width: 960px;
	margin: 0 auto;
}
#main-content{
	padding: 20px;
	width: 920px;
	display: block;
	overflow: hidden;
}
#main-content-section{
	width: 550px;
	float: left;
	padding-right: 20px;
	border-right: solid 1px;
	border-color:#ccc;
}
#side-bar{
	float: right;
	overflow: hidden;
	width: 300px;
	padding: 20px;
}
.sidebar-post{
	padding: 10px
}
footer{
	width: 100%;
}
#footer-column-container{
	width: 920px;
	padding: 20px;
	overflow: hidden;
	margin: 0 auto;
}
.footer-column{
	width: 280px;
	float: left;
	padding: 10px;
}
/** Navigation
---------------------------------------------------------------------------------*/
header{
	overflow: hidden;
}
header img{
	float: left;
	width: 100px;
}
#main-navigation{
	display: inline-block;
	float: right;
	margin-right: 20px
}
.main-nav-item{
	display: inline-block;
	margin-left: 20px;
	margin-top: 20px;
}
/** Highlighted
---------------------------------------------------------------------------------*/
#highlighted{
	text-align: center;
	padding-top: 30px;
	padding-bottom:30px;
	background-color: #16A085;
}
#highlighted h1{
	color: #fff;
}
/** Main Content
---------------------------------------------------------------------------------*/
#main-content-section img{
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
}
#main-content-section p{
	margin: 10px 0;
	font-size: .85em;
}
.main-conent-heading{
	color: #555;
	margin-bottom: 20px;
}
#main-content aside{
	border-width: 1px;
}
aside h2{
	color: #555;
	font-size: 1.75em;
	font-style: italic;
}
.sidebar-post{
	border-bottom: solid;
	border-width: 1px;
	border-color:#ccc;
	margin-bottom: 10px;
}
.sidebar-post h3{
	color: #aaa;
	background-color: #eee;
	padding: 5px;
}
.sidebar-post p{
	font-size: .8em;
	margin: 10px 0;
}
.sidebar-post a{
	font-size: .8em;
}
#form-title{
	margin: 10px 0;
}
#side-bar form label{
	display: block;
	color: #F46F3A;
}
#contact-us{
	width: 50%;
	margin: 10px 0;
	border:solid #eee;
	background-color: #fff;
	color:#333;
	padding: 10px;
	border-radius: 5px;
	 /* Safari 3-4, iOS 1-3.2, Android 1.6- */
	  -webkit-border-radius: 5px; 

	  /* Firefox 1-3.6 */
	  -moz-border-radius: 5px; 
	  
	  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
	  border-radius: 5px; 
}
#submit{
	background-color: #16A085;
	border:solid #16A08f;
	border-radius: 5px;
	 /* Safari 3-4, iOS 1-3.2, Android 1.6- */
	  -webkit-border-radius: 5px; 

	  /* Firefox 1-3.6 */
	  -moz-border-radius: 5px; 
	  
	  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
	  border-radius: 5px; 
	  padding: 8px;
	  color: #fff;
}
/** Footer
---------------------------------------------------------------------------------*/
